@use "../../SASS/Main" as *;

.nav{
    @include size(100% , 80px);
    @include flex(space-between , center);
    background-color: var(--bg);
    z-index: 1000;

    @include screen(lg){
        @include size(100% , 100px);
        @include flex-col(center , center);
    }

    @include screen(sm){
        @include size(100% , 50px);
    }
}

.nav .links{
    position: relative;
    @include flex(space-between , center);

    @include screen(sm){
        position: fixed;
        right: 0;
        top: 80px;
        @include size(150px , 80%);
        @include flex-col(center , center);
        border-top-left-radius: 150px;
        border-bottom-left-radius: 150px;
        @include blur-bg(var(--sidBar-bg));
        transition: 0.5s;
        z-index: 10;
    }
}
.nav  a{
    text-transform: capitalize;
    font-size: 18px;
    transition: 0.3s;
    &:hover{
        color: $teal-5;
    }
}
.nav .logo a{
    font-size: 40px;
    @include text-gradient(right, 40px, red,yellow)
}

@media (max-width:600px) {
    .see{
        transform: translateX(0px);
        opacity: 1;
    }
    .hide{
        transform: translateX(150px);
        opacity: 0;
    }
}
.active{
    color: $teal-5;
}
.nonActive{
    color: var(--text);
}