@use '../../../SASS/Main' as * ;


.main{
    overflow-y: hidden;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.containerInput{
    @include size(100%,50px);
    @include flex(center, center);
    margin-top: 10px;

    @include screen(lg){
        @include flex-col(center, center);
        @include size(100%,150px);
        gap: 10px
    }
}
.inputSearch{
    @include size(450px,60px);
    border: none;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 8px;
    outline: 2px solid $teal-5;
    outline-offset: -8px;

    @include screen(lg){
        @include size(85%,60px);
    }
}


.containerImage{
    columns: 4;
    @include screen(xxlg){
        columns: 4;
    }

    @include screen(xlg){
        columns: 2;
    }

    @include screen(md){
        columns: 1;
    }
}
.btn1{
    padding: 0;
}
.boxImage{
    position: relative;    
    margin-bottom:  10px;
    padding: 0;
    @include flex-col(center, center);
    break-inside: avoid-column;
    background-color: white
}
.btn2{
    @include size(150px , 50px);
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    outline: 2px solid $teal-5;
    outline-offset: -5px;
    font-size: 16px;
    transition: 0.3s;
    &:hover{
        outline-offset: 0px;
        font-size: 19px;
    }

    @include screen(md){
        @include size(100px , 50px);
        font-size: 14px;
        &:hover{
            outline-offset: 0px;
            font-size: 15px;
        }
    }
        @include screen(sm){
            @include size(100px , 50px);
            font-size: 12px;
            &:hover{
                outline-offset: 0px;
                font-size: 14px;
            }
    }
}
.gallery {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the column width as needed */
    gap: 10px;
}

.gallery img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    object-position: center; 
}

