@use "../../../SASS/Main" as * ;

.contact{
    @include flex(center,center);
    @include size(100% , calc(100vh - 190px));
    margin-top: 20px;
}
.animation{
    display: flex;
    justify-content: end;
    width: 50%;
    }
.contactForm{
    width: 50%;
}
@media screen and (max-width: 992px) {
    .contactForm{
        width: 100%;
    }
    .animation{
    display: none;
    }
    
}