@use '../../../SASS/Main' as * ;


.about{
    @include flex(center , center);
    @include size(100% , 100dvh);

    @include screen(lg){
        @include flex-col(center , center);
        flex-direction: column-reverse;
    }
}
.inform{
    @include size(50% ,  100%);
    @include flex-col(center, start);
    gap: 15px;

    @include screen(lg){
        @include size(100% , 40%);
        @include flex-col(center, center);
        gap: 5px;
    }

    @include screen(sm){
        @include size(100% , 60%);
    }
}
.inform h1{
    color: $teal-5;
    @include animation(FromTop );
    font-size: 60px;

    @include screen(lg){
        font-size: 40px;
        text-align: center;
    }
    @include screen(sm){
        font-size: 25px;
    }
}
.inform p{
    width: 80%;
    line-height: 25px;
    font-size: 18px;

    @include screen(lg){
        width: 80%;
        text-align: center;
    }

    @include screen(sm){
        width: 90%;
        text-align: center;
        line-height: 18px;
        font-size: 14px;
    }
}
    p .spaan{
    color: transparent;
    background-image: linear-gradient(90deg ,  $teal-4, $red-4 );
    background-clip: text;
    background-repeat: no-repeat;

    animation: apeare 5s linear forwards;
    }
@keyframes apeare {
    from{
        
    background-size: 0% , 100%;
    }
    to{
        background-size: 100% , 100%;
    }
}

.ContainerAvatar{
    @include size(50% ,  100%);
    @include flex(center, center);

    @include screen(lg){
        @include size(100% , 60%);
    }
    @include screen(sm){
        @include size(100% , 30%);
    }

}
.ContainerAvatar .avatar{
    position: relative;
    @include size(400px , 600px);
    opacity: 0;
    @include animation-time(FadeIn,1s,2s );

    @include screen(lg){
        @include size(250px , 350px);
    }

}
.avatar .img{
    animation: upDown 5s ease-in-out  infinite forwards;
}
