@use '../SASS/Main' as* ;

.main{
    @include size(100% , 100dvh);
    background-color: var(--bg);
    @include flex(center, center);

    @include screen(lg){
        flex-direction: column-reverse; 
    }
}
.inform{
    @include size(50% ,  100%);
    @include flex-col(center, start);
    gap: 15px;

    @include screen(lg){
        @include size(100% , 40%);
        @include flex-col(center, center);
        gap: 5px;
    }

    @include screen(sm){
        @include size(100% , 60%);
    }
}
.ContainerAvatar{
    @include size(50% ,  100%);
    @include flex(center, center);

    @include screen(lg){
        @include size(100% , 60%);
    }
    @include screen(sm){
        @include size(100% , 40%);
    }

}
.ContainerAvatar .avatar{
    position: relative;
    @include size(400px , 600px);
    opacity: 0;
    @include animation-time(FadeIn,1s,4s );

    @include screen(lg){
        @include size(250px , 350px);
    }

}
.avatar .img{
    animation: upDown 5s ease-in-out  infinite forwards;
}


.main h1{
    color: $teal-5;
    @include animation(FromTop );

    @include screen(sm){
        font-size: 25px;
    }
}

.main h2{
    color: var(--text);
    @include animation-time(FromTop,0.5s,0.5s );
    opacity: 0;

    @include screen(sm){
        font-size: 20px;
    }
}
.main p{
    color: var(--text);
    width: 80%;
    line-height: 25px;
    font-size: 16px;
    @include animation-time(FadeIn,0.5s,1s );
    opacity: 0 ;

    @include screen(lg){
        width: 80%;
        text-align: center;
    }

    @include screen(sm){
        width: 90%;
        text-align: center;
        line-height: 18px;
        font-size: 14px;
    }
}

.media{
    @include flex(center, center);
    gap: 10px;
}
.icon{
    @include circle(20px);
    padding: 10px;
    border-color: $teal-5;
    color:  $teal-5;
    transition: 0.3s;
    &:hover{
        color: $slate-8;
        background-color: $teal-5;
        box-shadow: 1px 1px 10px $teal-5 , -1px -1px 10px $teal-5;
    }
}
.facebook{
    @include animation-time(zoomIn,0.5s,1.5s );
    opacity: 0 ;
}
.insta{
    @include animation-time(zoomIn,0.5s,2s );
    opacity: 0 ;
}
.tweet{
    @include animation-time(zoomIn,0.5s,2.5s );
    opacity: 0 ;
}

@keyframes upDown{
    0%{
        transform: translateY(0px);
    }   
    50%{
        transform: translateY(20px);
    }  
    100%{
        transform: translateY(0px);
    }  
}

.btns{
    @include flex(center, center);
    gap: 10px;
}
.btn{
    @include size(150px , 50px);
    border: 1px solid $teal-5 ;
    border-radius: 8px;
    font-size: 18px;
}

.btn1{
    @extend .btn;
    color: white;
    @include bg-clr-left($teal-5, $slate-8);
    @include animation-time(zoomIn,0.5s,3s );
    opacity: 0 ;
}
.btn2{
    @extend .btn;
    color: $teal-5;
    @include bg-clr-left($slate-8, $teal-5);
    @include animation-time(zoomIn,0.5s,3.5s );
    opacity: 0 ;
}